.title {
    text-align: center;
    font-weight: bold;

    font-size: 30px;

    &::first-letter {
        text-transform: capitalize;
    }
}

.hint {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 14px;

    i {
        font-style: italic;
    }
}
