.sugestions_list {
    margin: 0;
    padding: 0;
    background: var(--white);
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
    border: 0;
    padding-bottom: 4px;
    width: 100%;

    ul {
        border-top: 1px solid var(--light-grey);
        padding: 6px 14px;
    }

    li {
        padding: 6px 14px;
        margin: 0 -14px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.focused,
        &:hover {
            background: var(--lighter-grey);
        }

        a {
            padding: 6px 0 6px 32px;
            font-size: 16px;
            text-decoration: none;
            color: var(--black);
            flex-grow: 1;
            display: flex;
            align-items: center;
            position: relative;
        }

        &.in_history {
            a {
                color: var(--blue);
            }
        }

        img {
            width: 14px;
            opacity: 0.4;
            position: absolute;
            left: 6px;
            margin-top: 2px;

            &.search_icon {
                width: 20px;
                left: 4px;
            }
        }

        span {
            pointer-events: none;
            opacity: 0;
            transition: 0.5s;
            font-size: 12px;
            text-transform: capitalize;

            &:hover {
                text-decoration: underline;
                color: var(--blue);
            }
        }

        &:hover {
            span {
                pointer-events: initial;
                opacity: 1;
            }
        }
    }

    .text_center {
        justify-content: center;
        font-weight: bold;

        &:hover {
            background: var(--white);
            cursor: default;
        }
    }
}
